### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
#I ran out of time to troubleshhot the latter parts of the assignment and would appreciate insight on what is going wrong and how to fix it



# Observations: -The playerbase is overwhlemingly male
#               -Over 75% of the playerbase is under 30
#               -When viewed by gender demographic the underrepresented genders on average spend more money per capita
#

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Calculate total unique players
total_players = len(purchase_data['SN'].unique())
#display player count
print("The total number of players is : ")  
total_players

The total number of players is :

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#get series of unique item names, count items in the series
unique_items = purchase_data['Item Name'].unique()
num_unique_items = len(unique_items)

#get total number of purchases for data set
total_purchases = len(purchase_data['Purchase ID'])

#sum prices for each entry to get total revenue
total_revenue = purchase_data["Price"].sum()

#find prices for each unique item, average and round to 2 sig. figs.
item_prices = purchase_data['Price'].unique()
avg_item_price = round(item_prices.mean(),2)

#construct summary data frame
summary = pd.DataFrame({"Total Revenue": '$'+str(total_revenue),
                        "Number of Unique Items": [num_unique_items],
                        "Average Price": '$'+str(avg_item_price),
                        "Number of Purchases": [total_purchases]})
#display summary table
summary

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $3.03                  780                     179      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#group by Gender
grouped_df = purchase_data.groupby("Gender")
#Remove duplicate players

new_df = grouped_df.nunique()

#Get toal number of unique players
total = new_df["SN"].sum()

#total number for each gender
males = new_df.iloc[1,1]
females = new_df.iloc[0,1]
other = new_df.iloc[2,1]

# len(males)
# len(females)
# len(other)

pct_male = round((males/total)*100, 2)
pct_female = round((females/total)*100, 2)
pct_other = round((other/total)*100, 2)



gender_summary = pd.DataFrame({
                                "Gender": ["Male","Female","Other"],
                                "Total Players": [males, females, other],
                                "Percentage of Players": [pct_male, pct_female, pct_other]})
gender_summary

   Gender  Percentage of Players  Total Players
0    Male                  84.03            484
1  Female                  14.06             81
2   Other                   1.91             11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# need avg total per person

# Create dataframes for each demographic. Calculate total number of purchases, average purchase price, and total revenue for each gender demographic
male_purchase_count = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_purchases = len(male_purchase_count)
male_avg_price = round(male_purchase_count['Price'].mean(), 2)
male_total_rev = male_purchase_count['Price'].sum()

female_purchase_count = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_purchases = len(female_purchase_count)
female_avg_price = round(female_purchase_count['Price'].mean(), 2)
female_total_rev = female_purchase_count['Price'].sum()

Other_purchase_count = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
Other_purchases = len(Other_purchase_count)
Other_avg_price = round(Other_purchase_count['Price'].mean(), 2)
Other_total_rev = Other_purchase_count['Price'].sum()

#Display a summary of the results
Gender_purchasing_summary_df = pd.DataFrame({"Gender": ["Male","Female","Other"],
                                             "Purchase Count": [male_purchases, female_purchases, Other_purchases],
                                             "Average Purchase Price": [male_avg_price, female_avg_price, Other_avg_price],
                                             "Total Purchase Value": [male_total_rev, female_total_rev, Other_total_rev]})
                                             #"Avg Purchase Total Per Person": []})
Gender_purchasing_summary_df

   Average Purchase Price  Gender  Purchase Count  Total Purchase Value
0                    3.02    Male             652               1967.64
1                    3.20  Female             113                361.94
2                    3.35   Other              15                 50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
age_count_df

  Age Group Total Count  percent
0     20-24         365  46.7949
1     15-19         136  17.4359
2     25-29         101  12.9487
3     30-34          73  9.35897
4     35-39          41  5.25641
5     10-14          28  3.58974
6       <10          23  2.94872
7       40+          13  1.66667

In [7]:
purchase_data["Total Count"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
age_count = purchase_data["Total Count"].value_counts().reset_index().values
age_count_df = pd.DataFrame(age_count,columns=["Age Group", "Total Count"])
age_count_df.reset_index()
age_sum=age_count_df["Total Count"].sum()
age_count_df["percent"] = age_count_df["Total Count"]/age_sum*100



# age_percent_df = pd.DataFrame(age_percent,columns=["Percent"])
# age_percent_df.reset_index()
# age_demos = pd.merge(age_percent_df, age_count_df, on="Age Group", how="outer")
# age_demos = age_demos.rename(columns={'Total Count_x': 'Percentage of Players', 'Total Count_y': "Total Count"})
# age_demos.index.name = ""
# #age_demos["Percentage of Players"] = age_demos["Percentage of Players"].map("{:.2f}".format)
# age_demos

In [8]:
age_count_df

  Age Group Total Count  percent
0     20-24         365  46.7949
1     15-19         136  17.4359
2     25-29         101  12.9487
3     30-34          73  9.35897
4     35-39          41  5.25641
5     10-14          28  3.58974
6       <10          23  2.94872
7       40+          13  1.66667

In [9]:


#Add age group column to dataframe, group by that column
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data_Age = purchase_data.groupby("Age Group")
purchase_data_Age_sum = purchase_data_Age.sum()
purchase_data_Age_sum = purchase_data_Age_sum.drop(["Purchase ID", "Age", "Item ID"], axis=1)
purchase_data_Age_sum = purchase_data_Age_sum.rename(columns={"Price": 'Total Purchase Value'})

purchase_data_Age_mean = purchase_data_Age.mean()
purchase_data_Age_mean=pd.DataFrame(purchase_data_Age_mean).reset_index().values
purchase_data_Age_mean = purchase_data_Age_mean.drop(["Purchase ID", "Age", "Item ID"], axis=1)
analysis = pd.merge(purchase_data_Age_sum, age_count_df,on="Age Group", how="outer")
analysis_2 = analysis.rename(columns={'Price': 'Average Purchase Price', 'Total Count': "Purchase Count"})

analysis_3 = pd.merge(purchase_data_Age_mean, analysis_2,on="Age Group",how="outer")
analysis_4 = analysis_3.drop(['Purchase ID', 'Age', 'Item ID'], axis=1)
analysis_5 = analysis_4.rename(columns={'Price': 'Average Purchase Total per Person'})
analysis_6 = pd.merge(purchase_data_Age_sum, analysis_5,on="Age Group",how="outer")
analysis_6["Total Purchase Value"] = analysis_6["Total Purchase Value"] .map("${:.2f}".format)
analysis_6["Average Purchase Total per Person"] = analysis_6["Average Purchase Total per Person"] .map("${:.2f}".format)
analysis_6["Average Purchase Price"] = analysis_6["Average Purchase Price"] .map("${:.2f}".format)
analysis_6

#Calculate values of interest
#Age_group_count = purchase_data["Purchase ID"].count()
# Age_group_sum = purchase_data["Price"].sum()
# Age_group_avg = purchase_data["Price"].mean()

#need to use merge here maybe?
#Age_purchasing_summary_df = pd.DataFrame({"Purchase Count": [Age_group_count],
                                         # "Average Purchase Price": [Age_group_avg],
                                         # "Total Purchase Value": [Age_group_sum]})
                                          #"Average Purchase Total per Person": []
#Age_purchasing_summary_df
#purchase_data = purchase_data.mean()
#Age_group_count
# Age_group_sum
# Age_group_avg

#purchase_data

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
purchase_data_SN.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Total Count,Age Group
SN,,,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24,20-24
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56,40+,40+
Ithergue48,2,24,Male,92,Final Critic,4.88,20-24,20-24
Chamassasya86,3,24,Male,100,Blindscythe,3.27,20-24,20-24
Iskosia90,4,23,Male,131,Fury,1.44,20-24,20-24

In [14]:
#index original DF by SN
purchase_data_SN = purchase_data.set_index("SN")
top_spenders = purchase_data_SN.loc[["Lisosia93", "Idastidru52", "Chamjask73",
                                "Iral74", "Iskadarya95"], ["Price"]]
#purchase_data_group_SN.head()

top_spenders_val_count = top_spenders.index.value_counts()
top_spenders_val_count_df=pd.DataFrame(top_spenders_val_count)
top_spenders_val_count_df = top_spenders_val_count_df.rename(columns={'SN': 'Rename'})
top_spenders_val_count_df.index.name = "SN"

price_average = top_spenders.groupby("SN")
mean = price_average.mean()

price_sum = top_spenders.groupby("SN")
sum_top_spenders = price_sum.sum().reset_index().values
ts_analysis1=pd.merge(sum_top_spenders, mean,on="SN",how="outer")
ts_analysis2=pd.merge(ts_analysis1, top_spenders_val_count_df,on="SN",how="outer")
ts_analysis3=ts_analysis2.rename(columns={'Price_x': 'Total Purchase Value', 'Price_y':'Average Purchase Price', 'Rename':'Purchase Count'})
ts_analysis3["Average Purchase Price"] = ts_analysis3["Average Purchase Price"] .map("${:.2f}".format)
ts_analysis3["Total Purchase Value"] = ts_analysis3["Total Purchase Value"] .map("${:.2f}".format)
ts_analysis3



# #count individual players purchases
# player_purchase_counts = purchase_data_group_SN["Purchase ID"].count()
# #player_purchase_counts.head()

# #calculate Average player purchase price
# player_purchase_average = purchase_data_group_SN["Price"].mean()
# #player_purchase_average.head()

# #Calculate total purchase price for each group
# player_purchase_total = purchase_data_group_SN["Price"].sum()
# #player_purchase_total.head()


# #add columns to orig dataframe then print selected columns to get proper formatting
# # purchase_data_group_SN["Purchase Count"] = player_purchase_counts
# # purchase_data_group_SN["Average Purchase Price"] = player_purchase_average
# # purchase_data_group_SN["Total Purchase Value"] = player_purchase_total

# # Top_spender_purchasing_summary_df = pd.DataFrame({"Purchase Count": [player_purchase_counts],
# #                                                   "Average Purchase Price": [player_purchase_average],
# #                                                   "Total Purchase Value": [player_purchase_total]})
# #Top_spender_purchasing_summary_df
# # purchase_data_group_SN_reduced = purchase_data_group_SN[["SN","Purchase Count","Average Purchase Price","Total Purchase Value"]]
# # purchase_data_group_SN_reduced.head()

ValueError: can not merge DataFrame with instance of type <class 'numpy.ndarray'>

In [ ]:
# purchase_data_item_reduced = purchase_data[['Item ID', 'Item Name', 'Price']]
# purchase_data_item_reduced.head()

In [ ]:
# purchase_data_item_reduced_grouped = purchase_data_item_reduced.groupby(['Item ID', 'Item Name'])

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
item_index = purchase_data.set_index("Item Name")
top_index2 = item_index.loc[["Oathbreaker, Last Hope of the Breaking Storm", "Fiery Glass Crusader", "Extraction, Quickblade Of Trembling Hands", "Nirvana", "Pursuit, Cudgel of Necromancy"], ["Item ID","Purchase ID","Price"]]
top_index2_df=pd.DataFrame(top_index2)
top_index2_df_count = top_index2_df["Item ID"].value_counts()
top_grouped = top_index2_df.groupby(['Item Name'])
popular1 = pd.DataFrame(top_index2_count)
popular1_df=popular1.rename(columns={'Item ID': 'Purchase Count'})
popular1_df.index.name = "Item ID"

top_index2_count_df=pd.DataFrame(top_index2_count)
top_index2_count_df=top_index2_count_df.rename(columns={'Item ID': 'Rename'})
top_index2_count_df
top_index2_count_df.index.name = "Item ID"

pop_analysis1=pd.merge(top_index2_count_df, popular1_df,on="Item ID",how="outer")
pop_analysis2=top_grouped.mean()
pop_analysis2=pop_analysis2.rename(columns={'Price': 'Item Price'})
pop_analysis3=top_grouped.sum()

pop_analysis3=pop_analysis3.rename(columns={'Price': 'Total Purchase Value'})
pop_analysis4=pd.merge(pop_analysis2, pop_analysis3,on="Item Name",how="outer")
pop_analysis5= pop_analysis4.drop(['Purchase ID_x', 'Item ID_y', 'Purchase ID_y'], axis=1)
pop_analysis5_df=pop_analysis5["Item ID_x"].map("{:.0f}".format)

pop_analysis6_df=pd.DataFrame(pop_analysis6_df)
pop_analysis7_df=pd.merge(pop_analysis6_df, pop_analysis5,on="Item Name",how="outer")
pop_analysis7_df=pop_analysis7_df.drop(['Item ID_x_y'], axis=1)
pop_analysis7_df=pop_analysis7_df.rename(columns={'Item ID_x_x': 'Item ID'})

NameError: name 'top_index2_count' is not defined

In [ ]:
top_index2_df_name = top_index2_df.index.value_counts()
top_index2_df_name_df=pd.DataFrame(top_index2_df_name)
top_index2_df_name_df=top_index2_df_name_df.rename(columns={'Item Name': 'Purchase Count'})
top_index2_df_name_df.index.name = "Item Name"

In [ ]:
final_df=pd.merge(top_index2_df_name_df, pop_analysis7_df,on="Item Name",how="outer")
final_df["Total Purchase Value"] = final_df["Total Purchase Value"].map("${:.2f}".format)
final_df["Item Price"] = final_df["Item Price"].map("${:.2f}".format)
final_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:

final_df